.footer {
  background-color: #f8f8fa;
  margin-top: 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.header-row {
  margin-top: 10px;
  margin-bottom: 10px;
}

.inline {
  display: inline;
}

.chip-height {
  line-height: 36px;
}

.main-view {
  margin-top: 20px;
}

/* ripped striaght from materialize 0.100 */
.chip {
  display: inline-block;
  height: 32px;
  font-size: 13px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  line-height: 32px;
  padding: 0 12px;
  border-radius: 16px;
  background-color: #e4e4e4;
  margin-right: 5px;
}

.close-button {
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  font-weight: bolder;
}

.label {
  color: #444;
  font-style: italic;
}
