.footer {
  background-color: #f8f8fa;
  margin-top: 1rem;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.header-row {
  margin-top: 10px;
  margin-bottom: 10px;
}

.inline {
  display: inline;
}

.chip-height {
  line-height: 36px;
}

.main-view {
  margin-top: 20px;
}

/* ripped striaght from materialize 0.100 */
.chip {
  display: inline-block;
  height: 32px;
  font-size: 13px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
  line-height: 32px;
  padding: 0 12px;
  border-radius: 16px;
  background-color: #e4e4e4;
  margin-right: 5px;
}

.close-button {
  padding-left: 5px;
  padding-right: 5px;
  cursor: pointer;
  font-weight: bolder;
}

.label {
  color: #444;
  font-style: italic;
}

/* tetherball graph */
.tetherball-axis-line {
  stroke: #aaa;
}

.tetherball-axis-label {
  font-size: 10px;
  fill: #888;
  text-anchor: middle;
}

.tetherball-target-line {
  stroke: black;
}

.tetherball-target-label {
  fill: black;
  font-size: 10px;
}

.tetherball-target-background {
  fill: white;
}

.tetherball-value-score {
  fill: black;
  font-size: 24px;
  text-anchor: middle;
  dominant-baseline: central; /* svg prop */
}

.tetherball-value-label {
  fill: black;
  font-size: 16px;
}

.tetherball-value-circle {
  fill: white;
  stroke: black;
}

.svg-align-right {
  text-anchor: end;
}

.tetherball-value-check {
  stroke-width: 3px;
  stroke: green;
  fill: none;
}

.tetherball-value-checkbox {
  fill: white;
  stroke: black;
}
